requests==2.31.0
shodan==1.31.0
OTXv2==1.5.12
elasticsearch==8.11.0
python-dotenv==1.0.0
pyyaml==6.0.1
urllib3==2.1.0
pytz
network.host: "0.0.0.0"
node.name: "wazuh.indexer"
cluster.initial_master_nodes:
  - "wazuh.indexer"
plugins.security.ssl.http.enabled: false
plugins.security.ssl.transport.enforce_hostname_verification: false
plugins.security.allow_unsafe_democertificates: true
plugins.security.allow_default_init_securityindex: true